In [22]:
#TO DO:
#fix formatting - do this on new copy of df's 

#QUESTIONS
#is total students sum of unique values of sizes of schools or count of students in dataset?

In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [40]:
#District Summary
#Total Number of Schools
totalSchools = len(school_data_complete['school_name'].unique())

#Total Number of Students
totalStudents = len(school_data_complete['Student ID'])

#Total Budget
totalBudget = sum(school_data_complete['budget'].unique())

#Average Math Score
avgMath = school_data_complete['math_score'].mean()

#Average Reading Score
avgReading = school_data_complete['reading_score'].mean()

#Percentage Passing Math (70 or greater)
totalPassingMath = school_data_complete.loc[school_data_complete['math_score']>=70, 'Student ID'].count()

percPassingMath = totalPassingMath/totalStudents*100

#Percentage Passing Reading (70 or greater)
totalPassingRead = school_data_complete.loc[school_data_complete['reading_score']>=70, 'Student ID'].count()

percPassingRead = totalPassingRead/totalStudents*100

#Percentage Overall Passing
passingOnly = school_data_complete.loc[(school_data_complete['math_score']>=70)&(school_data_complete['reading_score']>=70), 'Student ID'].count()
percPassOnly = passingOnly/totalStudents*100

#Dataframe of results
district_summary_df = pd.DataFrame({
    'Total Schools': [totalSchools],
    'Total Students': [totalStudents],
    'Total Budget': [totalBudget],
    'Average Math Score': [avgMath],
    'Average Reading Score': [avgReading],
    '% Passing Math': [percPassingMath],
    '% Passing Reading': [percPassingRead],
    '% Overall Passing': [percPassOnly]
})

#Format the output
dist_sum_df_format = district_summary_df.copy()

dist_sum_df_format['Total Students'] = dist_sum_df_format['Total Students'].map('{:,}'.format)

dist_sum_df_format['Total Budget'] = dist_sum_df_format['Total Budget'].map('${:,}'.format)

dist_sum_df_format[[
    'Average Math Score', 
    'Average Reading Score'
]] = dist_sum_df_format[[
    'Average Math Score', 
    'Average Reading Score'
]].applymap('{:.2f}'.format)

dist_sum_df_format[[
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]] = dist_sum_df_format[[
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]].applymap('{:.2f}%'.format)

dist_sum_df_format

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

In [46]:
#School Summary

#Group by school 
school_data_byschool = school_data_complete.groupby(['school_name'])

#Determine total students that were tested in each school
#Did not use size of school because we cannot assume that all students were tested
totalStudentsTested = school_data_byschool['Student ID'].count()

#Average Math Score
avgMathSchool = school_data_byschool['math_score'].mean().rename('Average Math Score')

#Average Reading Score
avgReadingSchool = school_data_byschool['reading_score'].mean().rename('Average Reading Score')

#Percent Passing Math

allPassingMath = school_data_complete.loc[school_data_complete['math_score']>=70]
percPassingMath = allPassingMath.groupby(['school_name']).count()['math_score']/totalStudentsTested*100

#Percent Passing Reading
allPassingReading = school_data_complete.loc[school_data_complete['reading_score']>=70]
percPassingReading = allPassingReading.groupby(['school_name']).count()['reading_score']/totalStudentsTested*100


#Overall Passing
#for all student math scores above 70 and reading scores above 70, sum them and divide by total students
overallPassing = school_data_complete.loc[(school_data_complete['math_score']>=70) 
                                          & (school_data_complete['reading_score']>=70)]
percOverallPassing = overallPassing.groupby(['school_name']).count()['Student ID']/totalStudentsTested*100

#Pull desired columns from original dataset and merge with totals and averages
schoolSummary1 = school_data[['school_name', 'type', 'size', 'budget']].set_index('school_name')
schoolSummary2 = pd.concat([
    avgMathSchool, 
    avgReadingSchool, 
    percPassingMath, 
    percPassingReading,
    percOverallPassing
], axis=1)
schoolSummary3 = pd.merge(schoolSummary1, schoolSummary2, left_index=True, right_index=True)

schoolSummary3['Per Student Budget'] = schoolSummary3['budget']/schoolSummary3['size']

#Format DataFrame
schoolSummary4 = schoolSummary3.rename(columns={
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'School Budget',
    0: '% Passing Math',
    1: '% Passing Reading',
    'Student ID': '% Overall Passing'
})

schoolSummaryFinal = schoolSummary4[[
    'School Type',
    'Total Students',
    'School Budget',
    'Per Student Budget',
    'Average Math Score',
    'Average Reading Score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing',
]]

schoolSummaryFinal.sort_index()

#Format Output
schoolSummaryFormat = schoolSummaryFinal.copy()

schoolSummaryFormat['Total Students'] = schoolSummaryFormat['Total Students'].map('{:,}'.format)
schoolSummaryFormat['School Budget'] = schoolSummaryFormat['School Budget'].map('${:,}'.format)
schoolSummaryFormat['Per Student Budget'] = schoolSummaryFormat['Per Student Budget'].map('${:.0f}'.format)

schoolSummaryFormat[['Average Math Score', 'Average Reading Score']] = schoolSummaryFormat[[
    'Average Math Score', 
    'Average Reading Score'
]].applymap('{:.2f}'.format)

schoolSummaryFormat[['% Passing Math', '% Passing Reading', '% Overall Passing']] = schoolSummaryFormat[[
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]].applymap('{:.2f}%'.format)

schoolSummaryFormat.sort_index()

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%

In [47]:
#Top 5 Performing Schools (By % Overall Passing)
schoolSummaryFormat.sort_values(by=['% Overall Passing'], ascending=False).head(5)

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%

In [ ]:
#Bottom 5 Performing Schools (By % Overall Passing)
schoolSummaryFormat.sort_values(by=['% Overall Passing']).head(5)

In [ ]:
#Math Scores by Grade

#Create a series for each grade
ninthGrade = school_data_complete.loc[school_data_complete['grade']=='9th']
tenthGrade = school_data_complete.loc[school_data_complete['grade']=='10th']
eleventhGrade = school_data_complete.loc[school_data_complete['grade']=='11th']
twelfthGrade = school_data_complete.loc[school_data_complete['grade']=='12th']

#Group each series by school
ninthSchool = ninthGrade.groupby(['school_name']).mean()['math_score']
ninthSeries = pd.Series(ninthSchool, name='9th')
tenthSchool = tenthGrade.groupby(['school_name']).mean()['math_score']
tenthSeries = pd.Series(tenthSchool, name='10th')
eleventhSchool = eleventhGrade.groupby(['school_name']).mean()['math_score']
eleventhSeries = pd.Series(eleventhSchool, name='11th')
twelfthSchool = twelfthGrade.groupby(['school_name']).mean()['math_score']
twelfthSeries = pd.Series(twelfthSchool, name='12th')


#Combine the series into a dataframe
mathByGrade = pd.concat([ninthSeries, tenthSeries, eleventhSeries, twelfthSeries], axis=1)
mathByGrade

In [ ]:
#Reading Scores by Grade

#Create a series for each grade
ninthGrade = school_data_complete.loc[school_data_complete['grade']=='9th']
tenthGrade = school_data_complete.loc[school_data_complete['grade']=='10th']
eleventhGrade = school_data_complete.loc[school_data_complete['grade']=='11th']
twelfthGrade = school_data_complete.loc[school_data_complete['grade']=='12th']

#Group each series by school
ninthSchoolR = ninthGrade.groupby(['school_name']).mean()['reading_score']
ninthSeriesR = pd.Series(ninthSchool, name='9th')
tenthSchoolR = tenthGrade.groupby(['school_name']).mean()['reading_score']
tenthSeriesR = pd.Series(tenthSchool, name='10th')
eleventhSchoolR = eleventhGrade.groupby(['school_name']).mean()['reading_score']
eleventhSeriesR = pd.Series(eleventhSchool, name='11th')
twelfthSchoolR = twelfthGrade.groupby(['school_name']).mean()['reading_score']
twelfthSeriesR = pd.Series(twelfthSchool, name='12th')


#Combine the series into a dataframe
readByGrade = pd.concat([ninthSeriesR, tenthSeriesR, eleventhSeriesR, twelfthSeriesR], axis=1)
readByGrade

In [ ]:
#Scores by School Spending

#Create bins
schoolSummarySpending = schoolSummaryFinal.copy()
budgetLabels = ['<$584', '$585-629', '$630-644', '$645-675']
budgetBins = [0, 585, 630, 645, 675]
schoolSummarySpending['Spending Ranges (Per Student)'] = pd.cut(schoolSummarySpending['Per Student Budget'], bins=budgetBins, labels=budgetLabels)

#Group by bins and calculate average
avgBudgetBin = schoolSummarySpending.groupby(schoolSummarySpending['Spending Ranges (Per Student)']).mean()

#Create dataframe with desired columns
budgetBin_df = avgBudgetBin[[
    'Average Math Score', 
    'Average Reading Score', 
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]]

budgetBin_df

In [ ]:
#Scores by School Size

#Create bins
schoolSummarySize = schoolSummaryFinal.copy()
sizeLabels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
sizeBins = [0, 1000, 2000, 5000]
schoolSummarySize['School Size'] = pd.cut(schoolSummarySize['Total Students'], bins=sizeBins, labels=sizeLabels)

#Group by bins and calculate average
avgSizeBin = schoolSummarySize.groupby(schoolSummarySize['School Size']).mean()

#Create dataframe with desired columns
sizeBin_df = avgSizeBin[[
    'Average Math Score', 
    'Average Reading Score', 
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]]

sizeBin_df

In [ ]:
#Scores by School Type
#Group by school type and calculate averages
schoolSummaryType = schoolSummaryFinal.copy()
typeGrouped = schoolSummarySize.groupby(schoolSummarySize['School Type']).mean()

#Create dataframe with desired columns
typeGrouped_df = typeGrouped[[
    'Average Math Score', 
    'Average Reading Score', 
    '% Passing Math', 
    '% Passing Reading', 
    '% Overall Passing'
]]

typeGrouped_df