In [3]:
#TO DO:
#fix formatting

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
#District Summary
#Total Number of Schools
totalSchools = len(school_data_complete['school_name'].unique())

#Total Number of Students
totalStudents = len(school_data_complete['Student ID'])

#Total Budget
totalBudget = sum(school_data_complete['budget'].unique())

#Average Math Score
avgMath = school_data_complete['math_score'].mean()

#Average Reading Score
avgReading = school_data_complete['reading_score'].mean()

#Add column to dataframe of pass or fail in math
#school_data_complete['Math Outcome'] = ['Pass' if x >= 70 else 'Fail' for x in school_data_complete['math_score']]

#Percentage Passing Math (70 or greater)
totalPassingMath = school_data_complete.loc[school_data_complete['math_score']>=70, 'Student ID'].count()

percPassingMath = totalPassingMath/totalStudents*100

#Percentage Passing Reading (70 or greater)
totalPassingRead = school_data_complete.loc[school_data_complete['reading_score']>=70, 'Student ID'].count()

percPassingRead = totalPassingRead/totalStudents*100

#Percentage Overall Passing
passingOnly = school_data_complete.loc[(school_data_complete['math_score']>=70)&(school_data_complete['reading_score']>=70), 'Student ID'].count()
percPassOnly = passingOnly/totalStudents*100

#Dataframe of results
district_summary_df = pd.DataFrame({
    'Total Schools': [totalSchools],
    'Total Students': [totalStudents],
    'Total Budget': [totalBudget],
    'Average Math Score': [avgMath],
    'Average Reading Score': [avgReading],
    '% Passing Math': [percPassingMath],
    '% Passing Reading': [percPassingRead],
    '% Overall Pass': [percPassOnly]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [105]:
#School Summary

#Group by school 
school_data_byschool = school_data_complete.groupby(['school_name'])

#Determine total students by school
totalStudentsSchool = school_data_byschool['Student ID'].count().rename('Total Students')

#Average Math Score
avgMathSchool = school_data_byschool['math_score'].mean().rename('Average Math Score')

#Average Reading Score
avgReadingSchool = school_data_byschool['reading_score'].mean().rename('Average Reading Score')

#Percent Passing Math

#for all student math scores above 70, sum them and divide by total students

#Percent Passing Reading

#Overall Passing
#for all student math scores above 70 and reading scores above 70, sum them and divide by total students


#Join Values into DataFrame
schoolSummary1 = pd.concat([totalStudentsSchool, avgMathSchool, avgReadingSchool], axis=1)


#Pull desired columns from original dataset
schoolSummary2 = school_data[['school_name', 'type', 'budget']].set_index('school_name')

schoolSummary3 = pd.merge(schoolSummary2, schoolSummary1, left_index=True, right_index=True)


#Add per student budget
perStudentBudget = schoolSummary3['budget']/schoolSummary3['Total Students']

schoolSummary3['Per Student Budget'] = perStudentBudget
schoolSummary3

,type,budget,Total Students,Average Math Score,Average Reading Score,Per Student Budget
school_name,,,,,,
Huang High School,District,1910635,2917,76.629414,81.182722,655.0
Figueroa High School,District,1884411,2949,76.711767,81.158020,639.0
Shelton High School,Charter,1056600,1761,83.359455,83.725724,600.0
Hernandez High School,District,3022020,4635,77.289752,80.934412,652.0
Griffin High School,Charter,917500,1468,83.351499,83.816757,625.0
Wilson High School,Charter,1319574,2283,83.274201,83.989488,578.0
Cabrera High School,Charter,1081356,1858,83.061895,83.975780,582.0
Bailey High School,District,3124928,4976,77.048432,81.033963,628.0
Holden High School,Charter,248087,427,83.803279,83.814988,581.0
Pena High School,Charter,585858,962,83.839917,84.044699,609.0
Wright High School,Charter,1049400,1800,83.682222,83.955000,583.0
Rodriguez High School,District,2547363,3999,76.842711,80.744686,637.0
Johnson High School,District,3094650,4761,77.072464,80.966394,650.0
Ford High School,District,1763916,2739,77.102592,80.746258,644.0
Thomas High School,Charter,1043130,1635,83.418349,83.848930,638.0

In [ ]:
#Top 5 Performing Schools (By % Overall Passing)

In [ ]:
#Bottom 5 Performing Schools (By % Overall Passing)

In [52]:
#Math Scores by Grade

#Create a series for each grade
ninthGrade = school_data_complete.loc[school_data_complete['grade']=='9th']
tenthGrade = school_data_complete.loc[school_data_complete['grade']=='10th']
eleventhGrade = school_data_complete.loc[school_data_complete['grade']=='11th']
twelfthGrade = school_data_complete.loc[school_data_complete['grade']=='12th']

#Group each series by school
ninthSchool = ninthGrade.groupby(['school_name']).mean()['math_score']
ninthSeries = pd.Series(ninthSchool, name='9th')
tenthSchool = tenthGrade.groupby(['school_name']).mean()['math_score']
tenthSeries = pd.Series(tenthSchool, name='10th')
eleventhSchool = eleventhGrade.groupby(['school_name']).mean()['math_score']
eleventhSeries = pd.Series(eleventhSchool, name='11th')
twelfthSchool = twelfthGrade.groupby(['school_name']).mean()['math_score']
twelfthSeries = pd.Series(twelfthSchool, name='12th')


#Combine the series into a dataframe
mathByGrade = pd.concat([ninthSeries, tenthSeries, eleventhSeries, twelfthSeries], axis=1)
mathByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [56]:
#Reading Scores by Grade

#Create a series for each grade
ninthGrade = school_data_complete.loc[school_data_complete['grade']=='9th']
tenthGrade = school_data_complete.loc[school_data_complete['grade']=='10th']
eleventhGrade = school_data_complete.loc[school_data_complete['grade']=='11th']
twelfthGrade = school_data_complete.loc[school_data_complete['grade']=='12th']

#Group each series by school
ninthSchoolR = ninthGrade.groupby(['school_name']).mean()['reading_score']
ninthSeriesR = pd.Series(ninthSchool, name='9th')
tenthSchoolR = tenthGrade.groupby(['school_name']).mean()['reading_score']
tenthSeriesR = pd.Series(tenthSchool, name='10th')
eleventhSchoolR = eleventhGrade.groupby(['school_name']).mean()['reading_score']
eleventhSeriesR = pd.Series(eleventhSchool, name='11th')
twelfthSchoolR = twelfthGrade.groupby(['school_name']).mean()['reading_score']
twelfthSeriesR = pd.Series(twelfthSchool, name='12th')


#Combine the series into a dataframe
readByGrade = pd.concat([ninthSeriesR, tenthSeriesR, eleventhSeriesR, twelfthSeriesR], axis=1)
readByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986